<app-nav-bar (toggleSidenav)="navigationSidenav.toggle()"></app-nav-bar> 
<mat-sidenav-container autosize>

        <mat-sidenav #drawer class="navigationSidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">

      <mat-toolbar>
        <mat-toolbar-row>
          <h2 class="toolbar-title"> {{ 'Oxygon Client' }} </h2>
        </mat-toolbar-row>
      </mat-toolbar>


    <mat-nav-list class='menu_items'>
      <h2 matSubheader> {{ 'Event' }} </h2>
      <a mat-list-item class='menu_items' routerLink='/calculator'  routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>apps</mat-icon></span> Loan Calculator</a>
      <a mat-list-item class='menu_items' routerLink='/appentry'    routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>home</mat-icon></span> Application Entry</a>
      <a mat-list-item class='menu_items' routerLink='/creditScore' routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>score</mat-icon></span> Credit Score</a>
      <a mat-list-item class='menu_items' routerLink='/approval'    routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>check</mat-icon></span> Application Approval</a>
      
      <mat-divider></mat-divider>
    
      <h2 matSubheader> {{ 'Guests' }} </h2>
      <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header   [expandedHeight]="'48px'">
            <mat-panel-title class='menu_items'>
              <span style="padding-right: 10px"><mat-icon>assessment</mat-icon> </span>
              <span style='padding-top:2px'>Reports</span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="nav-section">
            <div class="nav-item">
                <a mat-list-item class='menu_items' routerLink='/gradingParameter' routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>equalizer</mat-icon></span> Macroeconomic Forcast</a>
                <a mat-list-item class='menu_items' routerLink='/loanReport' routerLinkActive="active"><span style="padding-right: 10px"><mat-icon>show_chart</mat-icon></span> Loan Report</a>          
            </div>
          </div>
        </mat-expansion-panel>
    
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content role="main">
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
